body {
  background-color: orange;
}

#bigtxt {
  font-size: 44px;
  font-variant: small-caps;
  font-family: oblique;
}

img {
  margin: 14px;
  border: 14px solid green;
  padding: 12px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 18%;
  display: block;
  filter: grayscale(50%);
}

.align-div {
  background-color: #EA9738;
}

ul {
  text-align: center;
  font-size: 34px;
  background-color: orange;
  list-style-type: square;
}

aside section h4 {
  color: #1139BD;
  font-size: 45px;
  text-align: center;
  background-color: #EA9738;
}

h1 {
  color: white;
  font-size: 67px;
  font-weight: 800;
  text-align: center;
  text-decoration: underline purple;
}

p {
  font-size: 40px;
  text-align: center;
}
